**/.DS_Store
.idea/*
.idea
*.o
main_files
*.out
.a
*.dSYM/
.vscode/
**/checker_Mac
**/anna

drivers_and_interrupts/.Module.symvers.cmd
drivers_and_interrupts/.keylogger.ko.cmd
drivers_and_interrupts/.keylogger.mod.cmd
drivers_and_interrupts/.keylogger.mod.o.cmd
drivers_and_interrupts/.keylogger.o.cmd
drivers_and_interrupts/.modules.order.cmd
drivers_and_interrupts/Module.symvers
drivers_and_interrupts/keylogger.ko
drivers_and_interrupts/keylogger.mod
drivers_and_interrupts/keylogger.mod.c
drivers_and_interrupts/modules.order
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
